@model IEnumerable<Intex.Models.OrderPrediction>

@{
    ViewData["Title"] = "Order Dashboard";

    var classTypeDict = new Dictionary<int, string>
    {
        { 0, "Not Fraud"},
        { 1, "Fraud"}
    };
}

<h2>Order Dashboard</h2>




<table class="table">
    <thead>
        <tr>
            <th>Transaction ID</th>
            <th>Customer ID</th>
            <th>Date</th>
            <th>Day Of Week</th>
            <th>Time</th>
            <th>Entry Mode</th>
            <th>Ammount</th>
            <th>Type of Transactions</th>
            <th>Transaction Country</th>
            <th>Shipping Address</th>
            <th>Bank</th>
            <th>Type of Card</th>
            <th>Fraud</th>
            <th>Prediction</th>
            <th>Actions</th> <!-- Column for actions like Edit/Delete -->
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model.Take(20))
        {
            <tr>
                <td>@order.Orders.TransactionId</td>
                <td>@order.Orders.CustomerId</td>
                <td>@order.Orders.Date</td>
                <td>@order.Orders.DayOfWeek</td>
                <td>@order.Orders.Time</td>
                <td>@order.Orders.EntryMode</td>
                <td>@order.Orders.Amount</td>
                <td>@order.Orders.TypeOfTransaction</td>
                <td>@order.Orders.CountryOfTransaction</td>
                <td>@order.Orders.ShippingAddress</td>
                <td>@order.Orders.Bank</td>
                <td>@order.Orders.TypeOfCard</td>
                <td>@order.Orders.Fraud</td>
                <td class="prediction-cell">@order.Prediction</td>
                <td>
                    <!-- Edit Button -->
                    <a href="@Url.Action("EditProduct", "Home", new { id = order.Orders.TransactionId })" class="btn btn-primary">Edit</a>


                    <a href="@Url.Action("DeleteProduct", "Home", new { id = order.Orders.TransactionId })" class="btn btn-danger">Delete</a>

                </td>
            </tr>
        }
    </tbody>
</table>

