@page
@model Intex.Pages.CartModel
@{
}
<h1>Hello</h1>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th class="text-right">Amount</th>
            <th class="text-right">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart?.Lines ?? Enumerable.Empty<Cart.Cartline>())
        {
            <tr>
                <td>@line.Product.Name</td>
                <td>@line.Quantity</td>
                <td class="text-right">$@line.Product.Price</td>
                <td class="text-right">$@(line.Quantity * line.Product.Price)</td>
                <td class="text-center">
                <form asp-page-handler="Remove" method="post">
                    <input type="hidden" name="ProductId" value="@line.Product.ProductId" />
                    <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                    <button type="submit" class="btn btn-sm btn-danger">Remove</button>
                </form></td>

            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3"> Total</td>
            <td class="text-right">$@(Model.Cart?.CalculateTotal() ?? 0)</td>
        </tr>
    </tfoot>
</table>
<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Back to Shopping</a>
    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Checkout">Checkout</a>

</div>

</div>

